<ion-view view-title="customerlogin">
<ion-header-bar class="bar-balanced">
        <h1 class="title">Sign In</h1>
      </ion-header-bar>
  <ion-content scroll="false">
    <div class="container">
    	<div class="row">
    		<div class="col col-100 padding">
    			<div class="row">
    				<div class="col col-50">
    					<span>Login as</span>
    				</div>
    				<div class="col col-50">
    					<select id="Doctor" name="Doctor" class="form-control">
			              <option value="1">Doctor</option>
			              <option value="2">Diagnostic Lab</option>
			              <option value="3">Health Services</option>
			              <option value="5">Pharmacist</option>
			              <option value="4">Patient</option>
            			</select>
    				</div>
    			</div>
		    	<div class="row">
		    		<div class="col col-50">
		    			<span>Mail ID/Mobile No</span>
		    		</div>
    				<div class="col col-50">
    					<label class="item item-input customtextbox">
  						<input type="text" ng-model="email" placeholder="Enter Mail ID/Mobile No">
						</label>
    				</div>
		    	</div>
		    	<div class="row">
		    		<div class="col col-50">
		    			<span>Password</span>
		    		</div>
    				<div class="col col-50">
    					<label class="item item-input customtextbox">
  						<input type="password" placeholder="Enter Password">
						</label>
    				</div>
		    	</div>
		    	<div class="row">
		    		<div class="col col-100">
		    			<label>
              				<input type="checkbox"> Remember me on this Computer!
            			</label>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col col-100">
		    			<a class="button button-block button-balanced" href="#" ng-click="fnSignin()">Sign In</a>
		    		</div>
		    	</div>
		    	<div class="row">
		    	
		    			<div class="col col-50">
		    				<a href="#/userlogin">Forgot password?</a>
		    			</div>
		    			<div class="col col-50">
		    				<a href="#/signup" style="float:right;">Not a user yet? Register here!</a>
		    			</div>
		    	</div>
		    	<div class="row">
		    		<div class="col col-100">
		    		<span style="margin-bottom: 40px;text-align: center;color: #fff;font-weight: 700;text-shadow: 1px 2px 4px rgba(0,0,0,0.8);margin-left:50%">Or</span>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col">
		    			<div class="row">
		    				<div class="col col-33" style="background-color:#3b5998;color:#fff;border-radius:none;height:40px;">
		    					
		    						<i class="padding icon ion-social-facebook stable" style="margin-left:20%;"></i>
		    				
		    				</div>
		    				<div class="col col-67" style="background-color:#3b5998;color:#fff;border-radius:none;height:40px;">
		    					<a href="#" style="color:#fff;text-decoration:none;font-weight:700;">Signin with facebook</a>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col col-33" style="background-color:#4099FF;color:#fff;height:40px;">
		    					<i class="padding icon ion-social-twitter" style="margin-left:20%;"></i>
		    				</div>
		    				<div class="col col-67" style="background-color:#4099FF;color:#fff;height:40px;">
		    					<a href="#" style="color:#fff;text-decoration:none;font-weight:700;">Signin with twitter</a>
		    				</div>
		    			</div>
		    			<div class="row">
		    				<div class="col col-33" style="background-color:#d34836;color:#fff;height:40px;">
		    					<i class="padding icon ion-social-googleplus" style="margin-left:20%;"></i>
		    				</div>
		    				<div class="col col-67" style="background-color:#d34836;color:#fff;height:40px;">
		    					<a href="#" style="color:#fff;text-decoration:none;font-weight:700;">Signin with Google plus</a>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	
		  
    		</div>
    	
    	</div>
    	
    </div>
   
  </ion-content>
</ion-view>



