<ion-view title="{{ 'Best Products' | translate }}" cache-view="false">
<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
   
      
   <ion-content class="stock-style" padding="true" scroll="false" >
        <div class="row" ng-if="branchObj.orgType == 'CH'">
            <!-- row login form -->
            <div class="col list" padding="true">
                <div class="item-icon-right bottom-border" ng-click="modal.show()">

                        <p style="placeholder-text">{{branchObj.branchType}}</p>
                    <i class="icon placeholder-icon ion-ios-arrow-down small-icon"></i>

                </div>
            </div>
        </div>
    </ion-content>   
      
 <ion-content class="has-header has-footer" style="position:absolute;top:18vh">
        <div class="list">
             <div class="item item-divider">
                 <button class="button button-positive button-block"
                    ng-click="showSortPopup()"
                    ><i class="icon ion-stats-bars"></i>&nbsp;
                    {{"Select Period"|translate}}
                 </button>
             </div>

            <div class="row">
                <div class="col" ng-if="checkedReportType=='Daily'">
                     <div class="row">
                         <div class="col">
                            <h4
                         style="color:#0FA3B1;text-align:center;">{{"Daily Report"|translate}}</h4>
                         </div>
                     </div>
                 </div>
            </div>

           <!-- Weekly Report -->
            
            <div class="row">
                <div class="col" ng-if="checkedReportType=='Weekly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Weekly Report"|translate}}</h4>
                        </div>
                    </div>
                  </div>
            </div>

           <!-- Monthly Report -->

            <div class="row">
                <div class="col" ng-if="checkedReportType=='Monthly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Monthly Report"|translate}}</h4>
                        </div>
                </div>
                 </div>
            </div>

           <!-- Yearly Report -->

            <div class="row">
                <div class="col" ng-if="checkedReportType=='Yearly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Yearly Report"|translate}}</h4>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        
        <div style="position:relative;bottom:25px;" ng-if="pieChartData != ''">
            <nvd3 options="options" data="data"></nvd3>
        </div>
        <div style="position:relative;bottom:15px;" ng-if="pieChartData == ''">
              <div class="col">
          <h4 style="color:#23C0F2;text-align:center;">{{"No Data Available"|translate}}</h4>
      </div>
         </div>
        
        <div>
            <div class="button button-positive"style="width:95%;height:auto;float:left;margin:5px;text-align: left;" ng-repeat="d in data">
                <p style="font-size:15px;float:left;width:85%;color: #FFF;">{{d.orgName}}</p>
                <p style="width:15%;float:right;color: #FFF;">{{d.Percentage | number:0}}%</p>
            </div>
        </div>

      </ion-content> 
      <div class="tabs tabs-calm tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior" title="Sales" nav-clear ui-sref="menu.sales">
          <i class="icon ion-arrow-graph-up-right"></i><strong>Sales</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Stocks" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.stocks">
          <i class="icon ion-medkit"></i><strong>Stocks</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Best" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.best">
          <i class="icon ion-thumbsup"></i><strong>Best</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
</ion-view>