<ion-view class="stock-style" title="{{ 'Sales Report' | translate }}">
<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
 <ion-content class="stock-style" padding="true" scroll="false">

<div class="row" ng-if="branchObj.orgType=='CH'">
    <!-- row login form -->
    <div class="col list" padding="true">


        <div class="item-icon-right bottom-border" ng-click="modal.show()">
            
            <p class="placeholder-text">{{branchObj.branchType}}</p>
            <i class="icon placeholder-icon ion-ios-arrow-down small-icon"></i>
        </div>

    </div>
</div>

<!-- row login form -->

 </ion-content>
    <ion-content class="has-header has-footer" style="position:absolute;top:18vh">

        <div class="list">

         <div class="item item-divider">
     
             <button class="button button-positive button-block"
             ng-click="showSortPopup()"
                ><i class="icon ion-stats-bars"></i>&nbsp;
                 {{"Select Period"|translate}}
             </button>
         </div>
         
     <div class="row">
         <div class="col" ng-if="checkedReportType=='Daily'">
         <div class="row">
             <div class="col">
                 <h4
             style="color:#0FA3B1;text-align:center;">{{"Daily Report"|translate}}</h4>
             </div>
         </div>
       <div class="row" ng-repeat="item in dayDashBoradData">
        
         <div class="col" align="left">
           <p 
           style="font-size:15px;font-weight:600;
           color:#323F47;">Q {{item.saleValue}}</p>
           <p
           style= "font-size:12px;font-weight:600;
           color:#323F47;">Gross Sales</p>
         </div>
         <div class="col" align="right">
            <p
             style="font-size:15px;font-weight:600;
           color:#323F47;">{{item.SaleDone}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">No.of.orders</p>
         </div>
         
     </div>
            
             <div class="outer">
          <div class="inner">
             <nvd3 options="options" data="dataDR" class="inner"></nvd3>
             
          </div> </div>    
         </div>
         
         
       </div>
       
       <!-- Weekly Report -->
         <div class="row">
         <div class="col" ng-if="checkedReportType=='Weekly'">
          <div class="row">
             <div class="col">
                 <h4
             style="color:#0FA3B1;text-align:center;">{{"Weekly Report"|translate}}</h4>
             </div>
         </div>
       <div class="row" ng-repeat="item in weekDashBoradData">
        
         <div class="col" align="left">
           <p 
           style= "font-size:15px;font-weight:600;
           color:#323F47;">Q {{item.saleValue}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">Gross Sales</p>
         </div>
         <div class="col" align="right">
            <p
             style="font-size:15px;font-weight:600;
           color:#323F47;">{{item.SaleDone}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">No.of.orders</p>
         </div>
         
     </div>
             <nvd3 options="optionsWR" data="dataWR"></nvd3>
         </div>
       </div>
       
       <!-- Monthly Report -->
       
           <div class="row">
         <div class="col" ng-if="checkedReportType=='Monthly'">
          <div class="row">
             <div class="col">
                 <h4
             style="color:#0FA3B1;text-align:center;">{{"Monthly Report"|translate}}</h4>
             </div>
         </div>
       <div class="row" ng-repeat="item in monthDashBoradData">
        
         <div class="col" align="left">
           <p 
           style="font-size:15px;font-weight:600;
           color:#323F47;">Q {{item.saleValue}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">Gross Sales</p>
         </div>
         <div class="col" align="right">
            <p
             style="font-size:15px;font-weight:600;
           color:#323F47;">{{item.SaleDone}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">No.of.orders</p>
         </div>
         
     </div>
            <div class="monthOuter">
  <div class="monthInner">
                 <nvd3 options="optionsMR" data="dataMR" class="inner"></nvd3>
         </div>
</div>
            
         </div>
       </div>
       
       <!-- Quarterly Report -->
       
       <div class="row">
         <div class="col" ng-if="checkedReportType =='Yearly'">
          <div class="row">
             <div class="col">
                 <h4
             style="color:#0FA3B1;text-align:center;">{{"Yearly Report"|translate}}</h4>
             </div>
         </div>
       <div class="row"  ng-repeat="item in yearDashBoradData">
        
         <div class="col" align="left">
           <p 
           style="font-size:15px;font-weight:600;
           color:#323F47;">Q {{item.saleValue}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">Gross Sales</p>
         </div>
         <div class="col" align="right">
            <p
             style="font-size:15px;font-weight:600;
           color:#323F47;">{{item.SaleDone}}</p>
           <p
           style="font-size:12px;font-weight:600;
           color:#323F47;">No.of.orders</p>
         </div>
         
     </div>
             <nvd3 options="optionsYR" data="dataYR"></nvd3>
         </div>
       </div>

            
          </div>

      </ion-content> 

      <div class="tabs tabs-calm tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior active" title="Sales" nav-clear ui-sref="menu.sales">
          <i class="icon ion-arrow-graph-up-right"></i><strong>Sales</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Stocks" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.stocks">
          <i class="icon ion-medkit"></i><strong>Stocks</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Best" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.best">
          <i class="icon ion-thumbsup"></i><strong>Best</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
</ion-view>
