 <ion-view view-title="Profile">
   
   <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">

             
     
     <div class="list">

<a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
   {{currentOrgiName}}
   </a>
<a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    {{currentUserName}}
   </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    {{currentMailId}}
  </a>

  <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-telephone-outline"></i>
   {{currentContactNo}}
   
  </a>

   <a class="item item-icon-left" href="#">
      <i class="icon ion-person" aria-hidden="true"></i>
   {{currentIdentification}}
   
  </a>

  

</div>
     
     
    </ion-content>
</ion-view>