<ion-view view-title="Order History">
  <ion-content>
   <ion-list>
		<ion-item ng-repeat="item in orderHistory">
		
					<p style="color:#666;font-size:0.8em">OrderID : {{item.orderID}}</p>
			
					<p style="color:#666;font-size:0.8em">OrderDate : {{item.orderDate}}</p>
			
			
					<p style="color:#666;font-size:0.8em">Delivery Date : {{item.deliveryDate}}</p>
					<p style="color:#666;font-size:0.8em">Status : {{item.status}}</p>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>