<ion-view view-title="Set Reminder">
  <ion-content>
  <div class="card">
         <div class="item">
             <input type="text" placeholder="Name of the Medicine">
             
         </div>
     </div>
   <div class="list">

  <div class="item item-divider">
   <div class="row">
       <div class="col">
         <input type = "radio"
                 name = "duration"
                 ng-model="duration"
                 id = "lifeTime"
                 value = "lifetime"
                 checked = "checked" />
          <label for = "lifeTime">lifeTime</label>
        
       </div>
       <div class="col">
              <input type = "radio"
                 name = "duration"
                 ng-model="duration"
                 id = "Schedule"
                 value = "custom" />
          <label for = "Schedule">Schedule</label>
       </div>
   </div>
  
  </div>

    <div class="row" ng-show="duration == 'custom'">
       <div class="col-50">
       <label class = "item item-input item-select">
            <div class = "input-label">
              <i class="icon ion-ios-clock-outline"></i>
            </div>
	
            <select>
              <option>1</option>
              <option selected>2</option>
              <option>3</option>
           </select>
        </label>
       </div>
       <div class="col-50">
        <label class = "item item-input item-select">
           <div class = "input-label">
              <i class="icon ion-ios-calendar-outline"></i>
           </div>

            <select>
              <option>Day</option>
              <option selected>Week</option>
              <option>Month</option>
           </select>
        </label> 
       </div>
   </div>		
       
       
</div>
  <div class="item item-divider">
   Set Frequency
  </div>

  <div class="col">
        <label class = "item item-input item-select">
           <div class = "input-label">
              <i class="icon ion-ios-calendar-outline"></i>
           </div>

            <select>
             <option>Hourly</option>
              <option>Daily</option>
              <option selected>Weekly</option>
              <option>Monthly</option>
           </select>
        </label> 
       </div>
  <div class="item item-divider">
   Set Quantity
  </div>
    <div class="row">
        <div class="col-50">
       <label class = "item item-input item-select">
            <div class = "input-label">
              <i class="icon ion-edit"></i>
            </div>
	
            <select>
              <option>1</option>
              <option selected>2</option>
              <option>3</option>
           </select>
        </label>
       </div>
       <div class="col-50">
        <label class = "item item-input item-select">
           <div class = "input-label">
              <i class="icon ion-medkit"></i>
           </div>

            <select>
              <option selected>Tablet</option>
              <option>Drug</option>
           </select>
        </label> 
       </div>
    </div>
         
  <div class="item item-divider">
   Set Time
  </div>

  <div class="row">
      <div class="col-75 padding">
          <span>7:25 PM</span>
      </div>
      <div class="col-25 padding">
          <i class="icon icon-large ion-plus-circled balanced padding"></i>
          <i class="icon icon-large ion-minus-circled assertive padding"></i>
      </div>
  </div>
 <div class="item item-divider">
   <button class="button button-block button-royal">
    Set Reminder
</button>
  </div>
</div>
  </ion-content>
  
</ion-view>