<div class="row" style="width:100px;height:40px">
    <div class="col" align="center" ng-click="increaseQty(1)" style="background:#ddd">
    <span>+</span>
    </div>
    <div class="col" align="center">
        <span ng-model="quantity" ng-init="quantity=1">{{quantity}}</span>
    </div>
    <div class="col" align="center" ng-click="decreaseQty(1)" style="background:#ddd">
        <span>-</span>
    </div>
</div>