<ion-view view-title="Register">
      <ion-header-bar class="bar-balanced">
      <div class="row">
        <div class="col" align="center">
          <p>Register</p>
        </div>
      </div>
        
      </ion-header-bar>
  <ion-content scroll="true">
    <div class="row"><!--  registration form -->
           
       
        <div class="col"> 
            <div class="list">
                 <form name="userRegistrationForm" ng-submit="registerUser(signupdata)" novalidate>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>First Name</b></span>
                    <input type="text" placeholder="firstname" ng-model="signupdata.firstname" ng-required="true">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Last Name</b></span>
                    <input type="text" placeholder="lastname" ng-model="signupdata.lastname" ng-required="true">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Email</b></span>
                    <input type="email" placeholder="email@email.com" ng-model="signupdata.email" ng-required="true">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Phone</b></span>
                    <div class="list">
                      <label class="item-input">
                        <span class="input-label"><b>+502</b></span>
                        <input type="tel" placeholder="phone" ng-model="signupdata.phone" ng-required="true">
                      </label>
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Password</b></span>
                    <input type="password" placeholder="password" ng-model="signupdata.password" ng-required="true">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Confirm Password</b></span>
                    <input type="password" placeholder="confirm password" ng-model="signupdata.confirmpassword" ng-required="true">
                  </label>
                   <button type="userRegistrationForm" class="button button-balanced button-block" ng-disabled="userRegistrationForm.$invalid">Register</button>
                  </form>
            </div>
        </div> 
        
    </div><!--  registration form -->
    
    <div class="row"> <!-- already registered link -->
        <div class="col" align="center">
            <a href="#/userlogin"><b>Already have an account?</b></a>
        </div>
        
    </div> <!-- already registered link -->
    
  </ion-content>
</ion-view>