
       <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Daily'">Daily</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Weekly'">Weekly</ion-radio>

        
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Monthly'">Monthly</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Yearly'">Yearly</ion-radio>
        
<!--<input type="text" ng-model="data.wifi">-->