<ion-view>

<div class="bar bar-header bar-balanced">
  <a class="button button-clear icon ion-chevron-left" ng-href="#/app/home"></a>
  <div class="title" style="left: 20px;">
      <label class="header-searchstyle item-input">
        <input class="headerInput" type="text" placeholder="Search">
      </label>
  </div>
   <button class="button button-clear">
   <a class="icon ion-ios-cart clear light" href="#"></a>&nbsp;&nbsp;<a class="icon ion-android-notifications-none clear light" href="#"></a></button>
</div>
	<ion-content>
    <h1>this is test page</h1>
    </ion-content>
</ion-view>