<ion-view view-title="Healthservices">
     <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="search.$" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button searchButton" ng-click="search()">Search</button>
    </ion-header-bar>
  <ion-content>
    <h1>Search Healthservices Here</h1>
  </ion-content>
</ion-view>
