<ion-view class="apptheme" view-title="customersignup">
  <ion-content scroll="true">
    <div class="row"> <!-- container row -->
       
    <div class="col"> <!-- container column -->
        <div class="row logo-row"> <!-- container row logo -->
<!--
        <div class="col logo-col logo-design">
           
        </div>
-->
        
        </div> <!-- container row logo -->
        <div class="row"> <!-- container row logo -->
            <div class="col col-top">
                <h1 
                class="signuplink-style">Registration</h1>
            </div>
        </div>
       <div class="row">  <!-- row register with email -->
            
            <div class="col">
               <a class="button button-balanced button-block" ng-href="#/registerwithemail">Register with email</a> 
            </div>
            
        </div>    <!-- row register with email -->
        
        <div class="row"> <!-- container row -- or -- -->
            <div class="col">
                <hr class="subsect">
            </div>
            <div class="col">
                <p class="center-para">OR</p>
            </div>
            <div class="col">
                <hr class="subsect">
            </div>
        </div>
        <div class="row row-padding" style="padding-top:10px"> <!-- container row google+ -->
            <div class="col-10 socialbtn-icon-googleplus
               dropshaddow" align="center">
                <i class="icon ion-social-googleplus stable"></i>
            </div>
            <div class="col-90 socialbtn-googleplus dropshaddow">
                <p>Sign in with google plus</p>
            </div>
        </div> <!-- container row google+ -->
        
        <div class="row row-padding"> <!-- container row facebook -->
            <div class="col-10 socialbtn-icon-facebook dropshaddow" align="center">
                <i class="icon ion-social-facebook stable"></i>
            </div>
            <div class="col-90 socialbtn-facebook dropshaddow">
                <p>Sign in with facebook</p>
            </div>
        </div> <!-- container row facebook -->

        <!-- 
        <div class="row row-padding">
            <div class="col-10 socialbtn-icon-twitter dropshaddow" align="center">
                <i class="icon ion-social-twitter stable"></i>
            </div> 
            <div class="col-90 socialbtn-twitter dropshaddow">
                <p>Sign in with twitter</p>
            </div>
        </div> -->
        
    </div> <!-- container column -->
        
        
        
        
    </div>  <!-- container row -->
  </ion-content>
</ion-view>