  <ion-view title="Home">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons> 
    

    <ion-tabs class="tabs-icon-top tabs-calm">

      <ion-tab title="Sales" icon="ion-arrow-graph-up-right" href="#/tab/sales">
        <ion-nav-view name="sales-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Stocks" icon="ion-medkit" href="#/tab/stocks" >
         <ion-nav-view name="stocks-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Best" icon="ion-thumbsup" href="#/tab/best">
          <ion-nav-view name="best-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-view>