/* Empty. Add your own CSS if you like */
.container{

	margin: 20px;
	height: auto;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
div.outer { overflow: scroll; }
div.outer .inner { width:500px; }
 
.button.button-stable {
    border-color: transparent;
    background-color: #1B7EDA;
    color: #FFF;
}
 
.apptheme .less-padding {
    color: #fff;
    background:#FFF; 
    border: none;
    border-radius: 5px;
}
div.monthOuter { overflow: scroll; }
div.monthOuter .monthInner { width:700px; }

.apptheme input[type="text"], .apptheme input[type="password"] {
    color: #272525;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #b7b7b7;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.customtextbox{

	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.styleFooterTitle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 44px; 
}
.phonegroup span{
    padding: 10px;
}
.phonegroup span, .phonegroup input{
    float: left;
    height: 40px;
    background: #FAFAFA;
}
.phonegroup input{
    padding-left: 10px;
}

hr{
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eeeeee;    
}
.titleStyle{
    color: #33cd5f;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.1);
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #000;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}


.searchButton{
background-color: #0f0f0f;
color: white;
}
.searchButton:hover{
background-color: #0f0f0f;
color: white;
}
.searchButton:active{
background-color: #fff;
color: black;
border: 1px solid #CCC;
}
/* General
==================================*/
h1 {
    color: #000;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
 }

.scroll {
    height: 100%;
}

.imageBody > .imageBodycontent > .avatarBody {
       background-position: center;
    background-size: cover;
    border: solid 1px rgba(255,255,255,.8);
    border-radius: 59%;
    display: inline-block;
    height: 176px;
    left: auto;
    margin-bottom: 9px;
    position: relative;
    width: 168px;
}

 
.imageBody > .imageBodycontent {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(17, 193, 243, 0.61);
}
}