<ion-view class="home-style" title="{{ 'Appointment' | translate }}">
    <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">

        <button class="button button-icon" ng-click="showCalender()">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>

    </ion-nav-buttons>-->
    
    <ion-header-bar class="bar bar-subheader" padding="false">
        <div class="row" style="width:100%;height:50px;">
            <div class="col" align="left">
              <i class="icon ion-arrow-left-b" style="position:relative;left:100%;color:#fff" ></i>
            </div>
            <div class="col" align="center">
                 <strong>{{formattedDate}}</strong>
            </div>
            <div class="col" align="right" ng-click="showCalender()">
              <i class="icon fa fa-calendar" style="position:relative;right:100%"></i>  
            </div>
            
        </div>
        <div class="row" style="width:100%;height:50px;">
            <!-- row login form -->
            <div class="col list draw-bottom-border" padding="true">


                <div class="item-icon-right bottom-border" ng-click="showClinicModal()">

                    <p style="margin-left:10px;color:rgba(0,0,0,0.3);font-size:12px" ng-if="clinicObj">
                        {{clinicObj.clinicName}}
                    </p>
                    <p style="margin-left:10px;color:rgba(0,0,0,0.3);font-size:12px" ng-if="!clinicObj">No Clinic</p>
                    <i class="icon placeholder-icon ion-ios-arrow-down" style="font-size:1.2em"></i>
                </div>

            </div>
        </div>
        <div class="row card" style="width:100%;margin:0;padding:0;">
            <!-- row login form -->
          
                           
<div class="col" ng-repeat="session in sessionArray" id="{{session}}" style="margin:5px 2px;" ng-click="selectThisSession(session)">{{session}}</div>

                <!--<div class="item-icon-right bottom-border" ng-click="showSessionPopup()">

                    <p style="margin-left:10px;color:rgba(0,0,0,0.3);font-size:12px">{{sessionObj.value}}</p>
                    <i class="icon placeholder-icon ion-ios-arrow-down" style="font-size:1.2em"></i>
                </div>-->

        </div>

    </ion-header-bar>
    <!-- row login form -->

    <!-- </ion-content>-->

    <ion-content class="has-subheader has-footer" style="position:absolute;top:200px;">
        <div ng-if="appointments.length==0 || childCount === 0" align="center" style="color:#4CB050">
            No Records Available
        </div>
        <div class="row" style="margin:0;padding:0">
            <!--<div ng-if="childCount === 0" style="position:relative;left:25%;color:#4CB050">
                             No Session Records Available
                    </div>-->
            <div id="appointment-container" class="col" style="margin:0;padding:0;">

                <div ng-repeat="appointment in appointments| filter:appointmentFilter.query">
                       
                 <div id="list-appointment" class="card appointment-cell" >
                    <div class="row" style="margin:0;padding:0">
                        <div class="col col-10">
                            <div class="round-shape">
                                <span>{{getSessionCode(appointment.Session)}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <span style="color:#4CB050"><strong>{{appointment.PatientCode}}</strong></span> <br>
                            <span style="position: relative;top: -5px;"><strong>{{appointment.estimatedStartDate}}</strong></span>
                        </div>
                        <div class="col" style="position:relative;top:0;left:0">
                            <h5>{{appointment.userFullName}}</h5>
                        </div>
                        <div class="col col-10" style="background:#4CB050">
                            <h4 style="margin:0;padding:0;color:#fff;position:relative;top:7px;">{{appointment.Age}}</h4>
                            <i class="icon stable icon-align" ng-class="geticonType(appointment.gender)"></i>
                        </div>
                    </div>
                   

                </div>

                </div>
            </div>

        </div>


        
    </ion-content>


    <div class="tabs tabs-calm tabs-icon-top" style="background-color:#4CB050">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" nav-clear ui-sref="menu.home">
            <i class="icon fa fa-home fa-2x"></i><strong translate="Home">Home</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Appointment" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.appointment">
            <i class="icon fa fa-user-md fa-2x"></i><strong translate="Appointment">Appointment</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Roster" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.roster">
            <i class="icon fa fa-hospital-o fa-2x"></i><strong translate="Roster">Roster</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
</ion-view>