  <ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">

      <ion-nav-bar class="bar bar-balanced nav-title-slide-ios7">
       
      </ion-nav-bar>
      <ion-nav-view name="menu" animation="slide-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="NavController">

      <ion-header-bar class="bar bar-header bar-calm" style="background-color:#4CB050">
        <h1 class="title">Pharmacy Menu</h1>
      </ion-header-bar>
      <ion-content has-header="true">
        <ul class="list">
         
          <a ui-sref="menu.home" nav-clear class="item" ng-click="toggleLeft()">{{ 'Home' | translate }}</a>
          <a ui-sref="menu.appointment" nav-clear class="item" ng-click="toggleLeft()">{{ 'Appointment' | translate }}</a>
          <a ui-sref="menu.roster" nav-clear class="item" ng-click="toggleLeft()">{{ 'Roster' | translate }}</a>
           <a nav-clear class="item" ng-click="logout()">{{ 'Logout' | translate }}</a>
        </ul>
      </ion-content>

    </ion-side-menu>
  </ion-side-menus>
