<ion-modal-view>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search.query">
          </label>

   <button class="button button-clear" ng-click="modal.hide()">
    Cancel
  </button>
    </div>

    <ion-content class="padding has-header">
        
            <ion-list>
                <ion-item ng-click="setOwnClinic()">{{ownclinic.name}}</ion-item>
                <ion-item ng-repeat="clinic in listofclinics.clinicDetailList | filter:search.query" ng-click="setClinic(clinic)">{{clinic.organizationName}}</ion-item>
            </ion-list>
            
    </ion-content>
</ion-modal-view>