
       <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'All Session'" ng-change="checkChildCount()">{{"All Session"|translate}}</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Session1'"  ng-change="checkChildCount()">{{"Session1"|translate}}</ion-radio>

        
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Session2'" ng-change="checkChildCount()">{{"Session2"|translate}}</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Session3'" ng-change="checkChildCount()">{{"Session3"|translate}}</ion-radio>
              <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Session4'"  ng-change="checkChildCount()">{{"Session4"|translate}}</ion-radio>
        
<!--<input type="text" ng-model="data.wifi">-->