<ion-view view-title="Search Medicine">
 <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search Medicine" ng-model="search.$" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button searchButton" ng-click="search()">Search</button>
</ion-header-bar>
  <ion-content>
    <div class="row padding">
        <div class="col">
            <h6>RECENT</h6>
        </div>
    </div>
    <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Dolo-650
            </span>
             <span class="padding float-right">
                <i class="icon ion-plus-circled dark fontstyle-large"></i>
            </span>
        </div>
    </div>
     <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Crocin Advance 500mg
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark fontstyle-large"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
         <div class="col medicinelist-style">
            <span class="padding float-left">
                Dolonex 20mg
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark fontstyle-large"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Ecosprin
            </span>
             <span class="padding float-right">
                <i class="icon ion-plus-circled dark fontstyle-large"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
         <div class="col medicinelist-style">
            <span class="padding float-left">
                Augmentin 625 Duo Tablet
            </span>
             <span class="padding float-right">
                <i class="icon ion-plus-circled dark fontstyle-large"></i>
            </span>
        </div>
    </div>
   <!--  <div class="row padding">
        <div class="col">
            <h6>POPULAR</h6>
        </div>
    </div>
        <div class="row padding">
         <div class="col medicinelist-style">
            <span class="padding float-left">
                Dolo-650
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div>
     <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Crocin Advance 500mg
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Dolonex 20mg
            </span>
             <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
       <div class="col medicinelist-style">
            <span class="padding float-left">
                Ecosprin
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div>
     <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Augmentin 625 Duo Tablet
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div>
    <div class="row padding">
        <div class="col medicinelist-style">
            <span class="padding float-left">
                Nrurobin Forte Tablet
            </span>
            <span class="padding float-right">
                <i class="icon ion-plus-circled dark"></i>
            </span>
        </div>
    </div> -->
  </ion-content>
</ion-view>
