<ion-modal-view>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search.query">
          </label>

   <button class="button button-clear" ng-click="sessionmodal.hide()">
    Cancel
  </button>
    </div>

    <ion-content class="padding has-header">
      
       Session modal
         
    </ion-content>
</ion-modal-view>