<ion-view class="apptheme" view-title="Userlogin">

<ion-content>
    <div class="row padding"> <!-- container row -->
       
    <div class="col"> <!-- container column -->
        
        <!--<div class="row logo-row"> 
        <div class="col logo-col logo-design">
           
        </div>
       
        </div> -->
        
        <div  style="position:relative;top:100px;">

       
        <div class="row"> <!-- row login form -->
             <div class="col">
                 <div class="logo-col logo-design">
           
                </div>
                <div class="list extra-padding">
                  <label class="item item-input less-padding">
                   <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" ng-maxlength="20" placeholder="{{'Username'|translate}}" ng-model="user.username" />
                  </label>
                 </div>
                 <div class="list extra-padding">
                  <label class="item item-input less-padding">
                <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-maxlength="20" placeholder="{{'Password'|translate}}" ng-model="user.password" />
                      </label>
                     
                </div>
             </div>
        </div> <!-- row login form -->
        <div class="row">  <!-- row signin button -->
            
            <div class="col extra-padding">
               <button class="button button-stable button-block" ng-click="signIn(user)"><span style="text-color:#">{{'login'|translate}}</span></button> 
            </div>
            
        </div>   <!-- row signin button -->
         </div>
       
        
    </div> <!-- container column -->
        
        
        
        
    </div>  <!-- container row -->
</ion-content>

</ion-view>