.home-style{
    
    
    .draw-bottom-border{
     border-bottom: 1px solid #DDC;
     
    }

    .large-icon{
        margin-bottom: 20px;
        width:100%;
        height:45px;
        background-color:#fff;
        border: 1px solid #4CB050;
        box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.3);
    }
    
    .corner-icon{
        position: relative;
        top:-5px;
        left:-5px;
        font-size:25px;
        color: #4CB050;
        background: #fff;
    }
    
    .appointment-cell{
        margin-bottom: 20px;
        width:95%;
        height:50px;
        background-color:#fbfbfb;
       
       
    }
    
    .right-box{
        position:relative;
        top:0;
        left: 80%;
        width:10%;
        height:50%;
        background:#4CB050;
        text-align: center;
    }
    
    .icon-align{
            position: relative;
            font-size: 10px;
            top: -30px;
            left: 14px;
    }
    
    .round-shape{
        width: 25px;
        height: 25px;
        position: relative;
        left: auto;
        top: 7px;
        text-align: center;
        color: white;
        border-radius: 50%;
        background: #3b5998;
    }
    
    span{
        font-size: 10px;
    }
    
    .item-center{
        position: absolute;
        left:10%;
        top: 0;
    }
    .item-center-relative{
        position: absolute;
        left:10%;
        top:30px;
    }
    
    .round-shape-roster{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 5%;
        top: 20px;
        text-align: center;
        color: white;
        border-radius: 50%;
        background: #3b5998;
    }
    .round-shape-home{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 5%;
        top: 15px;
        text-align: center;
        color: white;
        border-radius: 50%;
        background: #3b5998;
    }
    .round-shape-leftclock{
        position: relative;
        top:-40px;
        left: 90%;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #fff;
    }
    .round-shape-rightclock{
        position: absolute;
        top:0;
        right: 15px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #fff;
    }

    .session1-color{
        background-color: #4CB050;
    }
    .session2-color{
        background-color: #4099FF;
    }
    .session3-color{
        background-color: #d34836;
    }
    .session4-color{
        background-color: #3b5998;
    }


}































