@import "scss/variables";
.apptheme{
    background-image:url('../img/loginbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    .logo-row{
        margin-top: 22vh;
        margin-bottom: 3vh;
        z-index: 99;
    }
    
    .logo-col{
        position:relative;
        left: 20%;
        width: 50vw;
        height: 20vh;
    }
    
    .logo-design{
    background-image:url("../img/10x_logo.png");
    background-repeat: no-repeat;
    background-size:30%;
    background-position: center;
    z-index: 999;
    }
    

    .extra-padding{
    
        margin-left: 5vw;
        margin-right: 5vw;
        
    }
    
    input[type="text"],input[type="password"] {
	
        color:#fff;
    }
    .less-padding{
        color:#fff;
        background: rgba(0,0,0,0.3);
        border: none;
        border-radius:5px;
    }



}
