<div class="modal">
  <header class="bar bar-header bar-assertive">
    <h1 class="title">CHOOSE DATE</h1>
  </header>
  <ion-content has-header="true">
    <div class="padding" style="margin-top:30px;">
      <div pickadate ng-model="myDate"></div>
    </div>
    <button class="button button-stable button-block" ng-click="closedateModal(myDate)">Save</button>
  </ion-content>
</div>