<ion-view class="home-style" title="{{ 'Roster' | translate }}">
    <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">

        <button class="button button-icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>

    </ion-nav-buttons>-->
<ion-header-bar class="bar bar-subheader">
<div class="row card" style="width:100%;height:35px;margin:0;padding:0">
            
<div class="col" id="Sunday" style="text-align:center" ng-click="selectThisDay('Sunday')">{{ 'Sun' | translate }}</div>
<div class="col" id="Monday" style="text-align:center" ng-click="selectThisDay('Monday')">{{ 'Mon' | translate }}</div>
<div class="col" id="Tuesday" style="text-align:center" ng-click="selectThisDay('Tuesday')">{{ 'Tue' | translate }}</div>
<div class="col" id="Wednesday" style="text-align:center" ng-click="selectThisDay('Wednesday')">{{ 'Wed' | translate }}</div>
<div class="col" id="Thursday" style="text-align:center" ng-click="selectThisDay('Thursday')">{{ 'Thr' | translate }}</div>
<div class="col" id="Friday" style="text-align:center" ng-click="selectThisDay('Friday')">{{ 'Fri' | translate }}</div>
<div class="col" id="Saturday" style="text-align:center" ng-click="selectThisDay('Saturday')">{{ 'Sat' | translate }}</div>

</div>
</ion-header-bar>
<!-- row login form -->

<!-- </ion-content>-->

   <ion-content class="has-subheader has-footer" style="position:absolute;top:100px;">
       <div class="row">
         
       
     <div class="col">
         <div ng-if="rosters.length==0" align="center" style="color:#4CB050">
            No Records Available
        </div>
        <!--<ion-spinner ng-if="rosters.length==0" icon="lines" class="spinner-balanced"></ion-spinner>-->
         <div class="large-icon" ng-repeat="roster in rosters | orderBy:'ConIntStartDate'">
             
           <i class="icon fa fa-hospital-o corner-icon"></i>
          <h5 style="position:relative;left:10%;top:-30px;color:#4CB050">{{roster.organizationName}}</h5>
           <p style="position:relative;left:10%;top:-40px;color:#000"><strong>{{roster.FromTime}} - {{roster.ToTime}}</strong></p>

         </div>
                   
     
               </div>

        </div>
   
   </ion-content>
   
    <div class="tabs tabs-calm tabs-icon-top" style="background-color:#4CB050">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" nav-clear ui-sref="menu.home">
            <i class="icon fa fa-home fa-2x"></i><strong translate="Home">Home</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Appointment" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.appointment">
            <i class="icon fa fa-user-md fa-2x"></i><strong translate="Appointment">Appointment</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Roster" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.roster">
            <i class="icon fa fa-hospital-o fa-2x"></i><strong translate="Roster">Roster</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
 

</ion-view>











