  <ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">

      <ion-nav-bar class="bar bar-balanced nav-title-slide-ios7">
       
      </ion-nav-bar>
      <ion-nav-view name="menu" animation="slide-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="NavController">

      <ion-header-bar class="bar bar-header bar-calm" style="background-color:#4CB050">
        <h1 class="title">Doctor Menu</h1>
      </ion-header-bar>
      <ion-content has-header="true">
        <ul class="list">
         
          <a ui-sref="menu.home" nav-clear class="item" ng-click="toggleLeft()"> <i class="ion-ios-home"></i> {{ 'Home' | translate }}</a>
            <a ui-sref="menu.profile" nav-clear class="item" ng-click="toggleLeft()" > <i class="ion-android-person-add"></i> {{ ' Profile' | translate}}</a>
          <a ui-sref="menu.appointment" nav-clear class="item" ng-click="toggleLeft()"><i class="fa fa-user-md" aria-hidden="true"></i> {{ 'Appointment' | translate }}</a>
          <a ui-sref="menu.roster" nav-clear class="item" ng-click="toggleLeft()"><i class="fa fa-hospital-o" aria-hidden="true"></i> {{ 'Roster' | translate }}</a>
			<li class="item item-toggle">
					{{Language | translate}}
				<label class="toggle">
					<input type="checkbox" ng-click="changeLanguage(checkVal)" ng-model="checkVal">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
           <a nav-clear class="item" ng-click="logout()"> <i class="ion-ios-locked"></i> {{ 'Logout' | translate }}</a>
        </ul>
      </ion-content>

    </ion-side-menu>
  </ion-side-menus>
