<ion-view class="home-style" title="{{ 'Home' | translate }}">

<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content class="has-footer" padding="true">

           <div class="row" align="center" style="position:absolute;top:0;">
               <div class="col">
                   <h3>{{doctorSchedule.date}}</h3>
                   <h5 style="color:#4CB050">{{doctorSchedule.day | translate }}</h5>
               </div>
               <!--<div class="col" ng-if="!salesRecord">
                   <h1>0</h1>
                   <h3 style="color:#4CB050">
                      {{defaultDay | translate}}
                      
                   </h3>
               </div>-->
               
           </div>
            <div class="row" style="width:70vw;padding:10px;position:absolute;top:10vh;left:15%">
             
               <div class="col">
                  <hr size="0" color="#ddd">
               </div>
               
           </div>
           <div class="row" style="position:absolute;top:15vh;">
                <div class="col" align="center">
                    <p><strong>{{ 'Appointments' | translate }}</strong></p>
                </div>
               
           </div>
           <div class="row" style="position:absolute;top:20vh;">
                <div class="col padding" align="left" style="margin:0 0 0 10px">
                    <p><strong>{{ 'First' | translate }}</strong></p>
                </div>
                <div class="col padding" align="right" style="margin:0 35px 0 0">
                    <p><strong>{{ 'Last' | translate }}</strong></p>
                </div>
               
           </div>
           <div class="row padding" style="position:absolute;top:25vh;">
                <div class="col padding" align="left">
                    
                   <div style="margin:5px 0 5px -25px;padding:10px;background-color:#4CB050;width:100px;height:40px;border-radius:3px">
                       <strong style="margin:16px;color:#fff">{{doctorSchedule.startTime}}</strong> 
                       <div class="round-shape-leftclock">
                               <i class="icon ion-android-time balanced"style="font-size:25px;margin:2px"></i>
                                  
                       </div>
                   </div>
                </div>
                <div class="col padding" align="center">
                   <div style="margin-left:auto;margin-right:auto;margin-top:-10px;margin-bottom:25px;background-color:#fff;width:75px;height:75px;border:3px solid #4CB050;border-radius:50%">
                       <h4 style="margin:23px">{{doctorSchedule.totalAppointments}}</h4>
                   </div>
                </div>
                <div class="col padding" align="right">
                   <div style="margin:5px 0 5px 0;padding:10px;background-color:#4CB050;width:100px;height:40px;border-radius:3px">
                        <strong style="margin:16px;color:#fff">{{doctorSchedule.endTime}}</strong> 
                        <div class="round-shape-rightclock">
                                
                               <i class="icon ion-android-time balanced"style="font-size:25px;margin:2px"></i>
                               
                       </div>
                   </div>
                </div>
               
           </div>
           <div class="row" style="width:70vw;padding:10px;position:absolute;top:40vh;left:15%">
             
               <div class="col">
                  <hr size="0" color="#ddd">
               </div>
               
           </div>
           <div class="row" style="position:relative;top:48vh">
               <div class="col">
         <div class="large-icon" ng-repeat="roster in rosters | orderBy:'ConIntStartDate'">
                <i class="icon fa fa-hospital-o corner-icon"></i>
                <h5 style="position:relative;left:10%;top:-30px;color:#4CB050">{{roster.organizationName}}</h5>
                <p style="position:relative;left:10%;top:-40px;color:#000">
                    <strong>{{roster.FromTime}} - {{roster.ToTime}}</strong></p>
         </div>
               </div>
               
           </div>
            
 
      </ion-content>
      <ion-footer>
        <div class="tabs tabs-balanced tabs-icon-top" style="background-color:#4CB050">
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="menu.home">
          <i class="icon fa fa-home fa-2x"></i><strong translate="Home">Home</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Appointment" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.appointment">
          <i class="icon fa fa-user-md fa-2x"></i><strong translate="Appointment">Appointment</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Roster" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.roster">
          <i class="icon fa fa-hospital-o fa-2x"></i><strong translate="Roster">Roster</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
      </ion-footer>
      
</ion-view>
