<ion-view class="apptheme" view-title="Userlogin" cache-view="false" >

<ion-content>
    <div class="row padding"> <!-- container row -->
       
    <div class="col"> <!-- container column -->
        
         <div class="row logo-row"> 
        <div class="col logo-col logo-design">
           
        </div>
       
        </div>  
        
 
       
        <div class="row"> <!-- row login form -->
             <div class="col">
                   <label class="item-icon-right bottom-border">
                   
                    <input type="text"  style="width:100%;color: black;border-bottom: 2px solid #4AAB4E;" placeholder="User Name" ng-model="user.username" maxlength="16" >
                  </label>
                    <label class="item-icon-right bottom-border">
            
                    <input type="password" style="width:100%;color: black;border-bottom: 2px solid #4AAB4E;" placeholder="Password" ng-model="user.password" maxlength="16">
                      </label>
                   <div ng-if="$root.rememberMe.checked == false"> 
                  <ion-toggle  
                              ng-model="remember" 
                              ng-checked="$root.rememberMe.checked" data-ng-click='rememberMe(remember)'>
                    {{$root.rememberMe.text}}
                  </ion-toggle>
                   </div>
                  <div ng-if="$root.rememberMe.checked == true"> 
                  <ion-toggle  
                              ng-model="remember" 
                              ng-checked="$root.rememberMe.checked" data-ng-click='rememberMe(remember)'>
                    {{$root.rememberMe.text}}
                  </ion-toggle>
                   </div>
              </div>
             
        </div>
           <!-- row login form -->
        <div class="row">  <!-- row signin button -->
            
            <div class="col extra-padding">
               <button class="button button-stable button-block" ng-click="signIn(user)"><span style="text-color:#">{{'login'|translate}}</span></button> 
            </div>
            
        </div>   <!-- row signin button -->
        
        
    </div> <!-- container column -->
        
        
        
        
    </div>  <!-- container row -->
</ion-content>

</ion-view>