.stock-style{
    
    
    .four-div{
        
        width: 80vw;
        height: 20vh;
        background-color: aqua;
    }
    
    
    .four-li{
        
        border: 1px solid #fff;
    
    }
    

    
    .small-icon{
        
        font-size: 1.2em;
    }
    
    .bottom-border{
        
        height: 35px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    
    .placeholder-text{
        margin-left: 10px;
        color: rgba(0,0,0,0.5);
        font-size: 12px;
    }
}