<ion-view class="stock-style" title="{{ 'Sales Report' | translate }}">
<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content class="stock-style" padding="true" scroll="false">

<div class="row">
    <!-- row login form -->
    <div class="col list" padding="true">

             <div class="row">
            <!-- row login form -->
            <div class="col list" padding="true">
                <div class="item-icon-right bottom-border" ng-click="modal.show()">

                        <p style="placeholder-text">{{branchObj.branchName}}</p>
                    <i class="icon placeholder-icon ion-ios-arrow-down small-icon"></i>

                </div>
            </div>
        </div>
             

    </div>
</div>

<!-- row login form -->

 </ion-content>
    <ion-content class="has-header has-footer" style="position:absolute;top:18vh">

        <div class="list">

             <div class="item item-divider">
                 <button class="button button-royal button-block"
                    ng-click="showSortPopup()"
                    ><i class="icon ion-stats-bars"></i>&nbsp;
                    {{"click to choose an option"|translate}}
                 </button>
             </div>

				<div class="row">
					<div class="col" ng-if="reportType.val=='Daily'">
						 <div class="row">
							 <div class="col">
								<h4
							 style="color:#0FA3B1;text-align:center;">{{"Daily Report"|translate}}</h4>
							 </div>
						 </div>

						 <ion-scroll direction="x" style="overflow: scroll;white-space: nowrap;">
							<nvd3 options="optionsDR" data="dataDR"></nvd3>
						 </ion-scroll>
					</div>
				</div>

           <!-- Weekly Report -->
            <div class="row">
                <div class="col" ng-if="reportType.val=='Weekly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Weekly Report"|translate}}</h4>
                        </div>
                    </div>

                    <nvd3 options="optionsWR" data="dataWR"></nvd3>
                </div>
            </div>

           <!-- Monthly Report -->

            <div class="row">
                <div class="col" ng-if="reportType.val=='Monthly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Monthly Report"|translate}}</h4>
                        </div>
                </div>

                    <ion-scroll direction="x" style="overflow: scroll;white-space: nowrap;">
                    <nvd3 options="optionsMR" data="dataMR"></nvd3>
                    </ion-scroll>
                </div>
            </div>

           <!-- Yearly Report -->

            <div class="row">
                <div class="col" ng-if="reportType.val=='Yearly'">
                    <div class="row">
                        <div class="col">
                            <h4
                            style="color:#0FA3B1;text-align:center;">{{"Yearly Report"|translate}}</h4>
                        </div>
                    </div>

                    <nvd3 options="optionsYR" data="dataYR"></nvd3>
                </div>
            </div>
            <div style="position:relative;bottom:15px;" ng-if="barChartData == ''">
              <div class="col">
          <h4 style="text-align:center;">{{"No Data Available"|translate}}</h4>
      </div>
         </div>
        </div>

      </ion-content> 

      <div class="tabs tabs-royal tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior active" title="Sales" nav-clear ui-sref="menu.sales">
          <i class="icon ion-arrow-graph-up-right"></i><strong translate="Sales">Sales</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Stocks" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.stocks">
          <i class="icon ion-medkit"></i><strong translate="Stocks">Stocks</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Best" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.best">
          <i class="icon ion-thumbsup"></i><strong translate="Best">Best</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
</ion-view>
