<ion-view title="{{ 'Home' | translate }}">
<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" padding="true">

       <div class="list padding">
           <div class="row" align="center" style="position:absolute;top:0;">
               <div class="col" ng-if="salesRecord">
                   <h1>{{salesDay.date}}</h1>
                   <h3 style="color:#886aea">{{salesDay.day | translate}}</h3>
               </div>
               <div class="col" ng-if="!salesRecord">
                   <h1>0</h1>
                   <h3 style="color:#886aea">
                      {{salesDay.day | translate}}
                   </h3>
               </div>
           </div>
           <div class="row" align="center" style="position:absolute;top:25vh;">
                <div class="col" ng-if="salesRecord">
                   <h1>Q.{{salesRecord.totalsales | number:2}}</h1>
                   <h3 style="color:#886aea">{{"SO Value" | translate}}</h3>
               </div>
              <div class="col" ng-if="!salesRecord">
                   <h1>Q. 0.00</h1>
                   <h3 style="color:886aea">
                      {{"SO Value" | translate}}
                   </h3>
               </div>
           </div>
           <div class="row" align="center" style="position:absolute;top:50vh;">
                <div class="col" ng-if="salesRecord">
                   <h1>{{salesRecord.noofInvoice | number}}</h1>
                   <h3 style="color:#886aea">{{"No of SO"|translate}}</h3>
               </div>
               <div class="col" ng-if="!salesRecord">
                   <h1>0</h1>
                   <h3 style="color:#886aea">
                      {{"No of SO"|translate}}
                   </h3>
               </div>
           </div>
       </div>
        

      </ion-content>

      <div class="tabs tabs-royal tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior" title="Sales" nav-clear ui-sref="menu.sales">
          <i class="icon ion-arrow-graph-up-right"></i><strong translate="Sales">Sales</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Stocks" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.stocks">
          <i class="icon ion-medkit"></i><strong translate="Stocks">Stocks</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Best" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.best">
          <i class="icon ion-thumbsup"></i><strong translate="Best">Best</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
</ion-view>
