<ion-view title="{{ 'Stock Details' | translate }}">
    <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
<!--    <ion-content class="stock-style" padding="true" scroll="false" overflow-scroll="false">-->
<ion-header-bar class="bar bar-subheader">


<div class="row" style="width:100%;height:45px;border-bottom: 1px solid rgba(0,0,0,0.3);">
    <!-- row login form -->
    <div class="col list" padding="true">

        <div class="item-icon-right bottom-border">
            
            <input type="text" placeholder="Search by Product ID or Name" style="width:100%;margin-left:10px;color:rgba(0,0,0,0.3);font-size:12px;" ng-model="query.find">
            <i class="icon placeholder-icon ion-search" style="font-size:1.2em"></i>
        </div>

    </div>
</div>
    </ion-header-bar>
<!-- row login form -->

<!-- </ion-content>-->

   <ion-content class="has-subheader has-footer" style="position:absolute;top:100px;">
       <div class="row" scroll="true" ng-if="stocksDetails.stocksListArray.length>0">
     <div class="col list animate-fade-slide-in-right">
       
     
            <div style="border-bottom: 1px solid rgba(0,0,0,0.3);padding:0 5px" ng-repeat="stock in stocksDetails.stocksListArray | filter:query.find">
               <div>
                  <p style="color:#B7B7B7;font-weight:600;font-style:bold;">{{stock.productId}}</p>
               </div>
               
              
               
               <div style="position:relative;height:auto;">
                   <p style="color:#23C0F2;font-weight:600;font-style:bold;width:68%;">{{stock.productName}}</p>
                   
                     <p style="color:#000;font-weight:600;font-style:bold;position:relative;top:-28px;float: right;width:16%;">{{stock.quantityOnHandTotal}}</p>
               </div>
              <p style="color:#555;font-weight:600;font-style:bold;font-size: 12px;">{{stock.manufacturerName}}</p>
                  
                 
            </div>
     </div>
</div>
   <div class="row" ng-if="stocksDetails.stocksListArray.length==0">
      
      <div class="col">
          <ion-spinner icon="android" style="position: relative;top:30vh;left:45vw"></ion-spinner>
          <!--<h4 style="margin:30vh 5vh;color:#23C0F2;text-align:center;"> No Stocks Available in the selected branch</h4>-->
      </div>
       
   </div>
   </ion-content>
   
    <div class="tabs tabs-royal tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior" title="Sales" nav-clear ui-sref="menu.sales">
            <i class="icon ion-arrow-graph-up-right"></i><strong translate="Sales">Sales</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Stocks" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.stocks">
            <i class="icon ion-medkit"></i><strong translate="Stocks">Stocks</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Best" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="menu.best">
            <i class="icon ion-thumbsup"></i><strong translate="Best">Best</strong><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
 

</ion-view>











