<ion-modal-view>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search.query">
          </label>

   <button class="button button-clear" ng-click="modal.hide()">
    {{"Cancel" | translate}}
  </button>
    </div>

    <ion-content class="padding has-header">
        <div class="list">

            <ion-list>
                <ion-item ng-click="setBranch(branchObj.Type)">{{branchObj.Type}}</ion-item>
                <ion-item ng-repeat="getSalesUser in salesListInVendorPr.salesDetailsList | filter:search.query" ng-click="setBranch(getSalesUser)">{{getSalesUser.salesPersonName}}</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>