
       <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Daily'">{{"Daily"|translate}}</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Weekly'">{{"Weekly"|translate}}</ion-radio>

        
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Monthly'">{{"Monthly"|translate}}</ion-radio>
       
             <ion-radio 
             style="font-size:14px;"
             ng-model="choice.val" ng-value="'Yearly'">{{"Yearly"|translate}}</ion-radio>
        
<!--<input type="text" ng-model="data.wifi">-->