@import "scss/variables";
.menu-banner{ 
        width:300px;
        height:200px;
        background-image:url('../img/menu-bg.png');
        background-repeat:no-repeat;
        background-position:center center; 
}
.custom-avatar{
    padding-left: 72px;
  min-height: 72px; 
}

.custom-avatar>img:first-child{
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.searchBanner{
    cursor: pointer;
	height: 15vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
	width:100%;
	display:block;
	text-decoration:none;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.23);
	font-size:6vw;
	font-weight:600;
	text-align:center;
	padding-top:5vh;
}

.medicine{
	@extend .searchBanner;
	background-image: url("../img/searchMedicine.png");
}
.doctor{
	@extend .searchBanner;
	background-image: url("../img/searchDoctor.png");
}
.lab{
	@extend .searchBanner;
	background-image: url("../img/searchLabs.png");
}
.clinic{
	@extend .searchBanner;
	background-image: url("../img/SearchClinic.png");
}
.health{
	@extend .searchBanner;
	background-image: url("../img/HealthService.png");
}
.locationSearch{
    cursor: pointer;
	padding:15px 10px;
	background-color:#EFEFEF;
	text-transform:uppercase;
	font-weight:600;
}
.flotingBtn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    padding: 18px 0px 0 20px;
    background-color: #769533;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
    color: white;
    width: 60px;
    height: 60px;
    font-size: 26px;
}
.headerInput{
    color: white
}
.headerInput::-webkit-input-placeholder {
   color: #fff;
}

.medicinelist-style{
    background-color:#EFEFEF;
}

.float-left{
    float:left
}
.float-right{
    float:right
}
.fontstyle-large{
    font-size:larger
}

  .bar-apptheme {
    border-color: #28a54c;
    background-color: $apptheme-color;
    background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
    color: #fff; }

.button.button-balanced {
    border-color: transparent;
    background-color: #769533;
    color: #fff; }
.bar.bar-balanced {
    border-color: #28a54c;
    background-color: #769533;
    background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
    color: #fff; }

.style-manufacturer{
    font-size: 12px;
    color:darkslategrey;
    font-weight: 700
}
.style-compounds{
    font-size: 14px;
    color:darkslategrey;
    font-weight: 700
}
.style-packsize{
    font-size: 14px;
    color:#555;
    font-weight: 900  
}
/*.spinner svg {
  width: 19% !important;
  height: 50px !important;
}*/
input.eyeOpen {
    visibility: hidden;
}
.eyeOpen{
  visibility: visible !important;
  font-family: "Ionicons";
  font-size:25px;height: 0px; width: 0px;
  position: relative;
  top: -3px;
  left: 0px;
  background-color:#FFF;
  display: inline-block;
  
}
input.eyeOpen:checked:after {
  content: '\f133';
}

input.eyeOpen:after {
  content: '\f306';
}



