@import "scss/variables";
.apptheme{
    background-image:url('../img/loginbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    .logo-row{
        margin-top: 22vh;
        margin-bottom: 3vh;
        z-index: 99;
    }
    
    .logo-col{
        width: 50vw;
        height: 15vh;
    }
    
    .logo-design{
    background-image:url("../img/10x_logo.png");
    background-repeat: no-repeat;
    background-size:50%;
    background-position: center;
    z-index: 999;
    }
    

    .extra-padding{
    
        margin-left: 5vw;
        margin-right: 5vw;
        
    }
    
    input[type="text"],input[type="password"] {
	
        color:#fff;
    }
    .less-padding{
        color:#fff;
        background: rgba(0,0,0,0.3);
        border: none;
        border-radius:5px;
    }
    
    .socialbtn{
        display: table;
         padding:12px;
        cursor: pointer;
        color: white;
        line-height: 18px;
    }
    i,p{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .socialbtn-icon-googleplus{
        @extend .socialbtn;
        width:35px;
        border-radius:$socialicon-border-radius;
        background-color:$googleplus-color;
        background-image:linear-gradient(to bottom,rgba(0,0,0,.2),rgba(0,0,0,.2));
    }
    .socialbtn-icon-facebook{
        @extend .socialbtn;
        width:35px;
        border-radius:$socialicon-border-radius;
        background-color:$facebook-color;
        background-image:linear-gradient(to bottom,rgba(0,0,0,.2),rgba(0,0,0,.2));
    }
    .socialbtn-icon-twitter{
        @extend .socialbtn;
        width:35px;
        border-radius:$socialicon-border-radius;
        background-color:$twitter-color;
        background-image:linear-gradient(to bottom,rgba(0,0,0,.2),rgba(0,0,0,.2));
    }
    .socialbtn-googleplus{
        @extend .socialbtn;
        width: 150px;
        border-radius:$socialbtn-border-radius;
        background-color:$googleplus-color;
    }
    .socialbtn-facebook{
        @extend .socialbtn;
        width: 150px;
        border-radius:$socialbtn-border-radius;
        background-color:$facebook-color;
    }
    .socialbtn-twitter{
        @extend .socialbtn;
        width: 150px;
        border-radius:$socialbtn-border-radius;
        background-color:$twitter-color;
    }
    
    
    .row-padding{
        display: table;
        padding-bottom: 15px;
    }
    
    .col-display-table{
        display: table;
    }
    
     .dropshaddow{
         @extend .row-padding;
        display: table-cell;
        vertical-align: middle;
        -webkit-box-shadow: 1px 1px 10px 2px rgba(255,0,0,0.1);
    }
    
    .subsect{
        border-color:rgba(255,255,255,0.2);
    }
    .center-para{
        display: inline-block;
        position: absolute;
        left: 48%;
        font-size: 10px;
        color:white;
    }
    .rounded-corner{
        background: white;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .tag-text{
        color:#fff;
        font-size: 12px;
        font-weight: 800;
        text-decoration: none;
        
    }
    .align-right{
        position: absolute;
        right: 10vw;
    }
    
    .signuplink-style{
        @extend .tag-text;
        text-align: center;
        padding-top: 5vh;
    }

}
