@import url(https://fonts.googleapis.com/css?family=Lora);
// fonts

$font-main:sans-serif;
$font-highlight:sans-serif;

$background-color: #0B6764;
$apptheme-color:#769533;
$logofont-color:#FFF;
$facebook-color:#3b5998;
$twitter-color:#4099FF;
$googleplus-color:#d34836;

$socialbtn-border-radius:0 5px 5px 0;
$socialicon-border-radius:5px 0 0 5px;